<%- include('../partials/header') %> 
    <% for( flight of allFlights ) { %>
      <h2>DEPARTS: <%= flight.departs %> AAAAAA</h2>
      <a href="show/<%= flight.id %>">Show flight details</a>
      <!-- <ul>
        <li>airport: <%= flight.airport %> </li>
        <li>airline: <%= flight.airline %> </li>
        <li>flight no: <%= flight.flightNo %> </li>

      </ul> -->
    <% } %>

    <a href="new">Add Flight</a>
<%- include('../partials/footer') %> 